<!DOCTYPE html>

<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
    <head>
        <title>Express Deliveru | {% block title %}{% endblock %}</title>
        <meta charset="utf-8"/>
        <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="wrap-in">
            <header class="header">
                <a href='/'><h1 class="logo">
                    Экспресс <span>Доставка</span>

                    <p class="logo__in">Доставка грузов и документов, курьерская доставка</p>
                </h1></a>
                <div class="phone">
                    <p><span>+7 495 </span> 988-91-15</p>

                    <p><span>+7 499 </span> 343-89-38</p>
                </div>
                <div class="schedule">
                    <p><strong>Режим работы:</strong></p>

                    <p> Будни с 9.00 до 21.00; </p>

                    <p> Сб. - с 10.00 до 16.00; </p>

                    <p> Вс - выходной. </p>
                </div>
                <div class="header__buttons">
                    <button class="btn track">Отследить направление</button>
                    <button class="btn cabinet">личый кабинет</button>
                </div>
            </header>
            <nav class="g-nav">
                {% include 'menu.html' %}
            </nav>
            <div class="container">
                <aside class="sidebar">
                    <a href="#" class="sidebar__block _1">
                            <span class="sidebar__block__txt"> <h3>Грузоперевозки по Москве московской области</h3>

                            </span>
                    </a>
                    <a href="#" class="sidebar__block _2">
                            <span class="sidebar__block__txt"> <h3>Тарифы на курьерскую доставку</h3>

                            </span>
                    </a>
                    <a href="#" class="sidebar__block _3">
                            <span class="sidebar__block__txt"> <h3>Тарифы на доставку для интернет магазинов</h3>

                            </span>
                    </a>
                    <a href="#" class="calc-distance"> Рассчитать расстояние между городами </a>

                    <div class="news-block">
                        <h2>Новости </h2>
                        <span class="heading__under">Новости и обновления компании</span>
                        
                        {% for n in news_recent %}
                            <div class="news-block__i">
                                <div class="news-block__i__date"> {{ n.date|date:"d.m.Y" }}</div>
                                <a href="/news/{{ n.slug }}/" class="news-block__i__title">{{ n.name }}</a>
                                <p>{{ n.text|removetags:"p span img"|truncatechars:210 }}</p>
                            </div>
                        {% endfor %}
                        
                        <a class="all-news-link" href="/news/">Все новости</a>
                    </div>
                    <div class="payments">
                        <h2>Мы принимаем</h2>
                        <span class="heading__under">Принимаем к оплате</span>
                        <img src="/static/img/weac.png" alt=""/>
                    </div>
                </aside>
                
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                <nav class="g-nav">
                    {% include 'menu.html' %}
                </nav>
                <div class="foot__i _phone">
                    <p><span>+7 495</span> 988-91-15</p>

                    <p><span>+7 499</span> 343-89-38 </p>
                </div>
                <div class="foot__i _copy">© 2013 «Экспресс доставка» Создание сайта</div>
                <div class="foot__i _links">
                    <ul>
                        <li><a href="#">Обратная связь</a></li>
                        <li><a href="#">Письмо директору</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">терминология</a></li>
                        <li><a href="#">доставки полезные</a></li>
                    </ul>
                </div>
                <div class="foot__i _descr"><strong>Наша компания </strong>готова предложить Вам свои квалифицированные услуги,
                    которыми на сегодняшний
                    день...
                </div>

            </footer>
        </div>
    </body>
</html>