{% extends 'base.html' %}

{% block title %}Доставка грузов. Главная.{% endblock %}

{% block content %}
    <div class="content">
        <div class="slider">
        
            {% for s in slider %}
                {% if forloop.first %}
                    <div class="slide active" style='background-image: url(/media/{{ s.image }}); display: block'>
                {% else %}
                    <div class="slide" style='background-image: url(/media/{{ s.image }})'>
                {% endif %}
                
                    <h4 class="slide__title">{{ s.title|safe }}</h4>
                    <p class="slide__txt">{{ s.text|safe }}</p>
                </div>
            {% endfor %}
            <div class="slider-nav">

            </div>
        </div>


        <div class="content__block">
            <h4>{{ p.title }}</h4>
            {{ p.content|safe }}
        </div>
        <div class="content__block _blue">
            <h4>Список Грузоперевозки </h4>
            <span class="heading__under">О компании Экпресс-Доставка</span>
            <ul>
                <li>Грузоперевозки сегодня – это востребованная услуга, которая позволяет многим компаниям успешно
                    реализовывать свой бизнес и становится залогом его дальнейшего процветания.
                </li>
                <li>Поэтому действительно важно, чтобы организация, выполняющая для Вас грузовые перевозки, была
                    надежной и компетентной.
                </li>
                <li>Благодаря своему высокому профессионализму и широкому опыту компания обеспечивает для
                    юридических и частных лиц полный комплекс мероприятий по грузоперевозкам в любой уголок нашей
                    страны.
                </li>
            </ul>
        </div>
        <div class="content__block">
            <h4>Таблица</h4>
            <span class="heading__under">О компании Экпресс-Доставка</span>

            <p>Грузоперевозки сегодня – это востребованная услуга, которая позволяет многим компаниям успешно
                реализовывать свой бизнес и становится залогом его дальнейшего процветания.</p>
            <table>
                <tr>
                    <th class="_1">Номер</th>
                    <th class="_2">Доставка</th>
                    <th class="_3">Адрес</th>
                    <th class="_4">Сумма</th>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
                <tr>
                    <td>13454</td>
                    <td>Доставка 1</td>
                    <td> г. Москва, ул. Строителей, д2</td>
                    <td>300 000 руб.</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
