<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Окна КВАРТАЛ | {% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <a class="header__logo" href="/"></a>
        <nav class="header__nav">
	    <a {% if 'news' in request_url %} class="active"{% endif %} href="/news/">Новости</a>
            <a {% if 'produktsiya' in request_url %} class="active"{% endif %} href="/produktsiya/">Продукция</a>
	    <a {% if 'nashi-tsenyi' in request_url %} class="active"{% endif %} href="/nashi-tsenyi/">Наши цены</a>
            <a {% if 'stati' in request_url %} class="active"{% endif %} href="/stati/">Статьи</a>
            <a {% if 'o-kompanii' in request_url %} class="active"{% endif %} href="/o-kompanii/">О компании</a>
            <a {% if 'kontaktyi' in request_url %} class="active"{% endif %} href="/kontaktyi/">Контакты</a>
            

            <div class="header__nav__hover"></div>
        </nav>
        <div class="header__search">
        <!--    <input type="search" placeholder="Поиск"/>
            <button class="header__search__icon"></button>-->
        </div>
    </header>
    {% block wrapper %}
        <div class="banner-wrp" style='background: #2e3e4f; margin-top: 5px'>
            <div  class="banner">
                <div class="banner_new">г. Мытищи<br /> Новомытищинский проспект д.49 корп. 1 универсам spar, 2 этаж <br />8(965)313-30-50; 8(498)301-59-00</div>
                <div class="banner_new">г. Дмитров <br />ул.Московская д.29 стр.5 <br />8(929)905-60-01</div>
                <div class="banner_new">г. Талдом <br />ул.Советская д.50 ТЦ Юность<br /> 8(926)416-31-31; 8(495)221-84-32</div>
            </div>
        </div>
        <div class="container">
            <div class="page__inner">
                {% block content %}
                {% endblock %}
                
                <section class="offers _blue">
                    <div class="offers__block _1">
                        <h3 class="offers__block__title">Пластиковые окна</h3>

                        <p>деревянные и пластиковые</p> <a href="/okna/" class="more">Подробнее...</a>
                    </div>
                    <div class="offers__block _2">
                        <h3 class="offers__block__title">Пластиковые окна</h3>

                        <p>входные и межкомнатные</p> <a href="/dveri/" class="more">Подробнее...</a>
                    </div>
                    <div class="offers__block _3">
                        <h3 class="offers__block__title">Пластиковые окна</h3>

                        <p>остекление и отделка</p><a href="/balkonyi-i-lodzhii/" class="more">Подробнее...</a>
                    </div>
                    <div class="offers__block _4">
                        <h3 class="offers__block__title">Пластиковые окна</h3>

                        <p>рулонные, вертикальные и другие</p> <a href="/zhalyuzi/" class="more">Подробнее...</a>
                    </div>
                </section>
                
            </div>
        </div>
        
    {% endblock %}
</div>

        

<footer class="footer-wrp">
    

    <div class="footer">
    
        
            <div class="banner">
                <div class="banner__heading"> Мы это:</div>
                
                <div class="banner__block _1">Сжатые сроки</div>
                <div class="banner__block _2">Стабильно высокое <br />качество</div>
                <div class="banner__block _3">Самые низкие <br />цены</div>
                
            </div>
        
    
    </div>
</footer>

</body>
</html>


<!--

        <a class="footer__logo" href="/"></a>

        <div class="footer__block">
            Талдом:<br/>+7 (495) 221-84-32
        </div>
        <div class="footer__block">
            Дмитров:<br/>+7 (929) 60-01
        </div>
        <div class="footer__block">
            Мытищи:<br/>+7 (498) 301-59-00
        </div>-->