{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="gallery">
        <h2>Галерея наших работ</h2>
        <section class="page">

            <a href="#" class="gal__item _1">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _2">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _3">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _4">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _5">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _6">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _7">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _8">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _9">
                <div class="gal__item__title">Двери</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
        </section>
        <section class="page">

            <a href="#" class="gal__item _1">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _2">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _3">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _4">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _5">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _6">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _7">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _8">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
        </section>
        <section class="page">

            <a href="#" class="gal__item _1">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _2">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _3">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _4">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _5">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _6">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>
            <a href="#" class="gal__item _7">
                <div class="gal__item__title">Окна</div>
                <p>Мы рады приветствовать Вас на сайте нашей компании.</p>

                <span class="gal__item__btn">Посмотреть</span>
            </a>

        </section>
        <ul class="page__nav"></ul>
    </section>
{% endblock %}